DB_URL=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_PORT=
DB_SSLMODE=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER_PREFIX=solier

# URL do OpenTelemetry Collector
# dev local ->  kubectl port-forward svc/otel-collector 4318:4318 e usar http://localhost:4318
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
# Identidade do servico no backend de observabilidade
SERVICE_VERSION=dev
DEPLOYMENT_ENVIRONMENT=local
# taxa de requests normais irem para o collector | padrão em 100% pois collectoe abrange essa funcionalidade 
OTEL_TRACES_SAMPLING_PROBABILITY=1.0
REDIS_URL=rediss://default:SENHA@SEU-HOST-UPSTASH:6379
GOOGLE_TRANSLATE_API_KEY=SUA-CHAVE-DA-GOOGLE-TRANSLATE-API
