<?xml version="1.0" encoding="UTF-8"?>
<!--
  logging de api-core

  logs podem ter 2 destinos :

    * console -> dev/local
    * grafana -> prod

-->
<configuration>

    <!-- carrega configs padrão do spring -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <!-- logs saem no console/stdout já com traceId injetado automaticamente -->
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <appender name="OTEL" class="io.opentelemetry.instrumentation.logback.appender.v1_0.OpenTelemetryAppender">
        <captureExperimentalAttributes>false</captureExperimentalAttributes>
        <captureCodeAttributes>false</captureCodeAttributes>
        <captureMarkerAttribute>false</captureMarkerAttribute>
        <captureKeyValuePairAttributes>true</captureKeyValuePairAttributes>
        <captureMdcAttributes>*</captureMdcAttributes>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="OTEL"/>
    </root>

</configuration>
